:root {
  --color-accent-green: #c2f63e;
  --color-neutral: #ffffff;
  --color-pastel-yellow: #f1ec9d;
  --color-pastel-turquoise: #b7eded;
  --color-pastel-rose: #ffc8be;
  --color-default-background: #f1f0ef;
}
